image: node

cache:
  paths:
    - node_modules/
  key: '$CI_BUILD_REPO'

stages:
  - develop
  - staging
  - stable

develop:
  stage: develop
  image: cortesa/docker-firebase
  environment: Develop
  script:
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN syshub-dev
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID" --token $FIREBASE_TOKEN
  except:
    - staging
    - master

staging:
  stage: staging
  image: cortesa/docker-firebase
  environment: Develop
  script:
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN syshub-61377
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID" --token $FIREBASE_TOKEN
  only:
    - staging
  

stable:
  stage: stable
  image: cortesa/docker-firebase
  environment: Production
  only:
    - master
  script:
    - npm install
    - npm run build
    - firebase use --token $FIREBASE_TOKEN syshub-61377
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID" --token $FIREBASE_TOKEN
