@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900');

html *:not(i) {
  font-family: 'Roboto', sans-serif !important;
  color: #464745;
}
/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:1024px) {

	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px;
  }
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
/* fix IOS smooth scrolling issue */
* {
  -webkit-overflow-scrolling: touch;
}

.sweetalertModal {
  width: 550px !Important;
}

.grecaptcha-badge {
  z-index: 1;
  bottom: none;
  top: 80px;
}