.stats__container .stats-heading {
  align-items: center;
  display: flex;
  font-size: 32px; }
  .stats__container .stats-heading .MuiSvgIcon-root-38 {
    height: 50px;
    width: 60px; }

.stats__container .MuiPaper-root-1 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 30px;
  padding: 0px !important;
  margin: 20px; }

.stats__container .MuiCardHeader-root-45 {
  background: #3498db;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.stats__container .MuiSvgIcon-root-38 {
  height: 40px;
  width: 40px; }

.stats__container .stats-div {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  width: 100%; }
  .stats__container .stats-div ul {
    width: 100%;
    justify-content: space-between; }
  .stats__container .stats-div .MuiTypography-body1-61 {
    line-height: 2em;
    font-size: 20px; }
    .stats__container .stats-div .MuiTypography-body1-61 h1 {
      color: #3498db;
      font-weight: bold;
      margin-top: 20px; }
  .stats__container .stats-div .MuiPaper-rounded-2 {
    border-radius: 8px; }
